---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Mariphy" description="About Mariphy Software Engineer">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
			>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						My coding journey began in 2020 with the Stanford Code In Place program which laid the foundation in Computer Science necessary for my further studies.
					</p>
					<p>
						I decided to turn my passion into a full-time career in 2023 when I took a Back-end development course and committed full-time to programming and building my professional portfolio. I now possess a solid foundation in JavaScript programming and the ability to build RESTful APIs with Node.js and Express, utilizing PostgreSQL databases.
					</p>
					<p>
						I'm constantly acquiring new skills and collaborating on different projects, adding new technologies to my tech stack. 
					</p>
					<p>
						I've lived on 4 different continents and traveled to 25 countries. Along with my early career in Diplomacy it let me develop strong communication skills and ability to navigate cross-cultural environments. My experience working with early-stage startups enabled me to align technical solutions with business needs and implement strategic vision, as well as hone my project management and problem-solving skills.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Master's Degree in International Business and Politics</p>
					<p>Stanford CS106 Code in Place program</p>
					<p>Back-End Engineer Certificate from Codecademy</p>
					<p>PMI certification on Project Management</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>- JavaScript and Node.js</p>
					<p>- TypeScript and Next.js</p>
					<p>- React</p>
					<p>- Express.js</p>
					<p>- SQL and PostgreSQL</p>
					<p>- Containerization with Docker</p>
					<p>- Documentation with Swagger</p>
					<p>- Version Control with Git</p>
					<p>- Cloud deployment with Render, Vercel</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
